<?php if (!$this->fatalError): ?>

<div class="modal-body text-center">
    <h4>Job started</h4>
    <p>Click <a href="<?= \Backend::url('keios/apparatus/jobs/view/' . $jobId) ?>">here</a> to check progress.</p>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <?= e(trans('backend::lang.form.close')) ?>
    </button>
    &nbsp;
    <a
            href="<?= $returnUrl ?>"
            class="btn btn-success"
            data-dismiss="popup">
        <?= e(trans('backend::lang.form.complete')) ?>
    </a>
</div>

<?php else: ?>

<div class="modal-body">
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <?= e(trans('backend::lang.form.close')) ?>
    </button>
</div>

<?php endif ?>
